.useage-history *{
    box-sizing: border-box;
}


/* Calendar */

.useage-history .calendar{
    margin : 30px 0;
    display : flex
}

.useage-history .calendar .react-calendar {
    margin : auto;
    border : none;
    border-radius : 10px
}

.react-calendar__month-view__days__day--weekend{
    color:black
}
.react-calendar__month-view__days__day--neighboringMonth{
    color:gray
}

.react-calendar__tile--now{
    background-color:white
}
/* .react-calendar__tile.react-calendar__month-view__days__day{
    background-color : #006edc
}
.react-calendar__tile.react-calendar__month-view__days__day:hover{
    background-color : #006edc
}
.react-calendar__tile--active{
    background-color : #006edc
} */
/* Month Summary */

.useage-history .month-summary {
    display: flex;
    justify-content: space-around;
    width : 500px;
}

.useage-history .month-summary *{
    margin : 0;
    opacity: 0.8;
}

.useage-history .month-summary h2{
    font-size : 20px;
}